<div class="container">
    <app-add-posts 
    (newPost)="onNewPost($event)" 
    [selectedPost]="selectedPost"
    [isEdit]="isEdit"
    (updatedPost)="onUpdatedPost($event)">
   </app-add-posts>

    <h2>Posts</h2>
    <div class="card  mb-2" *ngFor="let post of userPosts">
        <div class="card-body">
            <h3><a routerLink="/post/{{post.id}}"> {{ post.title }} </a></h3>
            <p>{{ post.body }}</p>
            <hr>
            <button class="btn btn-light" (click)="editPost(post)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger" (click)="removePost(post)"><i class="fa fa-remove"></i></button>
        </div>
    </div>
</div>