<div class="container">
<div class="card card-body mb-3">
    <h2>
        Add New User
    </h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
            <label>First Name</label>
            <input 
            type="text" 
            [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
            [(ngModel)]="user.firstName" 
            class="form-control"
            #userFirstName="ngModel"
            required
            minlength="2"
            name="firstName">
            <div [hidden]="!userFirstName.errors?.['required']" class="invalid-feedback">
               First name required
            </div>
             <div [hidden]="!userFirstName.errors?.['minlength']" class="invalid-feedback">
               Must be atleast 2 characters 
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input 
            type="text" 
            [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
            [(ngModel)]="user.lastName" 
            class="form-control" 
            #userLastName="ngModel"
            required
            minlength="2"
            name="lastName">
            <div [hidden]="!userLastName.errors?.['required']" class="invalid-feedback">
                Last name is required
            </div>
            <div [hidden]="!userLastName.errors?.['minlength']" class="invalid-feedback">
                Must be atleast 2 characters
            </div>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input 
            type="text" 
            [(ngModel)]="user.age" 
            class="form-control" 
            name="age">
        </div>
        <button [disabled]="!userForm.form.valid" class="btn btn-dark mb-3 mt-3">
            Add User
        </button>
    </form>
</div>

<div >
<ul class="container" *ngIf="users.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users; let i = index" [class.bg-light]="!user.isActive"
        [style.border-color]="user.isActive?'green':''">
        <h5 [ngStyle]="currentStyles">
            {{i+1}}. {{user.firstName | uppercase}} {{user.lastName | uppercase}}
            <small>
                <button (click)="toggleAddress(user)" class="btn btn-dark btn-sm">
                    <i [ngClass]="user.showAddress?'fa fa-minus':'fa fa-plus'"></i>
                </button>
            </small>
        </h5>
        <ul class="list-group" *ngIf="user.showAddress">
            <li class="list-group-item">Age: {{user?.age}}</li>
            <li class="list-group-item"> Address: {{user?.address?.street}} {{user?.address?.city}}
                {{user?.address?.state}}</li>
            <li class="list-group-item"> Sign Up Date: {{user.registrationDate | date : 'dd/MM/yyyy'}}</li>
            <li class="list-group-item"> Account Balance: {{user.balance | currency : 'GBP' : 'symbol'}}</li>
        </ul>
    </li>
</ul>

<p *ngIf="users.length === 0">No Users Found</p>
</div>
</div>